<!-- <table class="table-fill">
  <thead>
  <tr>
    <th class="text-left">Id</th>
    <th class="text-left">Login</th>
    <!-- <th class="text-left">Name</th>
    <th class="text-left">Surname</th>
    <th class="text-left">Age</th>
    <th class="text-left">City</th>
    <th class="text-left">Birthday</th>
    <th class="text-left">Budget</th> -->
  <!-- </tr>
  </thead>
  <tbody class="table-hover">
  <tr *ngFor="let user of users" (click)="userSelect(user)" [routerLink]="['/user', user.id]">
    <td class="text-left">{{user.id}}</td>
    <td class="text-left">{{user.login | prefix : "Login"}}</td> -->
    <!-- <td class="text-left">{{user.name | prefix : "Name"}}</td>
    <td class="text-left">{{user.surname | prefix : "Surname"}}</td>
    <td class="text-left">{{user.age | elevate: user.id}}</td>
    <td class="text-left">{{user.city | prefix : "From"}}</td>
    <td class="text-left">{{user.birthday | date | uppercase}}</td>
    <td class="text-left">{{user.budget | currency : 'USD' : true : '1.1-3' | uppercase}}</td> -->
  <!-- </tr>
</table> --> -->